%blurry-bg {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  /* stylelint-enable */
  background-color: rgb(var(--v-theme-surface), 0.85);
}
